@charset "utf-8";
#exito, #error, #info{
	display: none;
}

a{
	text-decoration: none;
}

#contenedor{
	width: 70%;
	margin: auto;
	margin-top: 2%;
	border-radius: .9em;
}

small{
	font-size: 9px;
}

table{
	width: 100%;
	border-radius: .9em;
}

td{
	padding: .5em 0 .5em;
}

th{
	padding: .5em 0 .5em;
}

#footer{
	text-align: center;
	width: 300px;
	margin: auto;
	display: block;
	margin-top: 20px;
}

#formulario{
	display: none;
}

#frmClienteNuevo {
		margin-top: 2em;
}

#calendar_link{
	text-decoration: none;
}

#button,#cancelar{
	margin-bottom: .5em;
}

#add_btn{
	margin: .3em 0 .3em .3em;
}

#acciones, #paginacion{
	text-align: center;
}